Package: enigma2-plugin-skin-mediaportal-atv-metrixhd
Version: 1.5
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: nettraxx
Description: MediaPortal Metrix HD und FHD Skin im ATV Style
Source: 
