Package: enigma2-plugin-skin-mediaportal-atv-metrixhd
Version: 1.2
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: nettraxx
Description: MediaPortal MetrixHD Skin ATV Style
Source: 
