Package: enigma2-plugin-skincomponents-mediaportal-atv-metrix-style
Version: 1.5
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: nettraxx
Description: MediaPortal Metrix HD und FHD Skin im ATV Style
Source: 
